@media (max-width: 400px) {
    /* navbar */

    .nav-list-first {
        right: 80px;
    }

    .nav-list-first,
    .nav-list-sec li {
        font-size: 15px;
    }

    .logo {
        font-size: 20px;
    }

    .line {
        height: 2px;
    }

    .second-half {
        height: 120px;
        width: 120px;
    }

    .second-half img {
        height: 120px;
        width: 120px;
    }

    /* Projects Sections */

    .pera-box h3 {
        font-size: 20px;
    }

    .pera-box2 h3 {
        font-size: 20px;
    }

    .pera-box,
    .pera-box2 p {
        font-size: 15px;
    }

    .my-pro-head {
        /* margin-top: 50px; */
        font-size: 30px;
        padding-top: 130px;
    }


    /* Service-section */

    .services-section {
        padding: 240px 0px 50px 0px ;
    }

    .services-container h2 {
        font-size: 30px;
    }

    .service-intro {
        font-size: 18px;
        padding: 0px 20px 0px 20px;
    }

    .service-card i {
        font-size: 20px;
    }

    .service-card h3 {
        font-size: 20px;
    }

    .service-card p {
        font-size: 15px;
    }


    /* --- About Section --- */

    .about-section {
        padding: 240px 20px 50px 20px;
    }

    .about-image img {
        width: 120px;
    }

    .about-content h2 {
        font-size: 30px;
    }

    .about-content p {
        font-size: 18px;
    }


     /* Contact Section */

    .contact-container h2 {
        font-size: 30px;
    }

    .contact-container p {
        font-size: 18px;
    }

    .social-links a {
        width: 50%;
        padding: 10px 0px;
    }
}