@media (max-width: 700px) {

    /* navbar */

    .navbar {
        height: 7vh;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100vw;
        transition: all 0.7s ease;
    }

    .nav-d {
        opacity: 0;
    }

    .navbar-h {
        height: 20vh;
    }

    .nav-list-first {
        padding: 0;
        margin: 0;
        gap: 20px;
        position: relative;
        right: 85px;
        margin-bottom: 30px;
        transition: all 0.7s ease-in;
    }

    .nav-list-first,
    .nav-list-sec li {
        font-size: 20px;
    }

    .nav-list-sec {
        padding: 0;
        margin: 0;
        gap: 20px;
        position: relative;
        right: 65px;
        margin-bottom: 30px;
        transition: all 0.7s ease-in;
    }

    .logo {
        padding: 0;
        margin: 0;

        position: absolute;
        top: 18px;
        left: 20px;
        font-size: 25px;
    }

    .b-visi {
        display: block;
    }

    .burger {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .line {
        height: 3px;
        background-color: #ffffff;
        width: 27px;
    }

    .line1 {
        background-color: #ffc107;
    }


    /* main section */

    .first-half h1 {
        font-size: 20px;
        padding-top: 30px;
    }

    .main-container2 {
        margin-top: 50px;
    }

    .first-half p {
        font-size: 15px;
    }

    .second-half {
        height: 150px;
        width: 150px;
    }

    .second-half img {
        height: 150px;
        width: 150px;
    }

    .my-project-btn {
        padding: 10px 20px;
        font-size: 13px;
    }


    /* Service-section */

    .services-section {
        background-color: #f8f9fa;
        padding: 250px 0px 50px 0px ;
    }

    .services-container h2 {
        font-size: 30px;
    }

    .service-intro {
        font-size: 20px;
        padding: 0px 20px 0px 20px;
    }

    .service-card {
        padding: 20px;
    }

    .service-card h3 {
        font-size: 25px;
    }

    .service-card p {
        font-size: 18px;
    }

    /* --- About Section --- */

    .about-section {
        padding: 250px 20px 50px 20px;
    }

    .about-image img {
        width: 150px;
    }

    .about-content h2 {
        font-size: 35px;
    }

    .about-content p {
        font-size: 20px;
    }


     /* Contact Section */

    .contact-container h2 {
        font-size: 35px;
    }

    .contact-container p {
        font-size: 18px;
    }

    .social-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-links a {
        width: 50%;
        padding: 15px 0px;
    }
}